*{
    font-family: 'Poiret One', cursive;
}

body {
  background: #FFF;
  color: #222;
  cursor: auto;

  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

.p {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.desc {
  padding-left: 10px; padding-right: 10px;
  font-size: 0.87rem;
  font-weight: normal;
  line-height: 1.3;
   margin-bottom: 0.25rem;}

.deschead {
    padding-bottom: 7px;
    color: #9C9223;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.25rem;}
.desc2 {
    padding: 7px; padding-left: 10px; padding-right: 10px;
    font-size: 0.74rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 0.25rem;}

.headlines {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-width: 100%;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    color: #CFCCA4;}
    .headlines.yellow {
    color: #D5B900;
    text-align: left;
    max-width: 100%;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: bold;}
    .headlines.yellow2 {
    color: #DDCB0B;
    text-align: left;
    max-width: 100%;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: bold;}
    .headlines.black {
    color: #444;
    text-align: left;
    max-width: 100%;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: lighter;}

.commentbar {margin-bottom: 15px;}
.commentname {
    padding-bottom: 3px;
    text-align: right;
    color: #9C9223;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 0.5;
    margin-bottom: 0rem;}
.comment {
    font-family: 'Poiret One', cursive;
    color: #444;
    text-align: left;
    max-width: 100%;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.3;}

.central { text-align: center; }

.judulweb {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    font-weight: bold;}



.header {
  border-width: 0px;
  margin-bottom: 5px;
  padding: 0.000000000000000000000000000000000000000000000000005rem;
  background: #DDD320;
  color: #333333; }
  .header > :first-child {
    margin-top: 0; }
  .header > :last-child {
    margin-bottom: 0; }

  .header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
    line-height: 0.5;
    margin-bottom: 0.5rem; }
    .header h1.subheader, .header h2.subheader, .header h3.subheader, .header h4.subheader, .header h5.subheader, .header h6.subheader {
      line-height: 1.4; }
  
  .header.grey {
    border-style: solid;
    border-width: 0px; margin-bottom: 40px;
    padding: 15px;
    border-color: #D2D19F;
    background: #EAE5C8}

  .footer {
  border-width: 0px;
  margin-bottom: 0px;
  padding-bottom: 6rem; padding-top: 1rem;
  margin-top: 2rem;
  background: #DDD320;
  color: #333333; }
  .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    line-height: 0.5;
    margin-bottom: 0.5rem; }
    .footer h1.subfooter, .footer h2.subfooter, .footer h3.subfooter, .footer h4.subfooter, .footer h5.subfooter, .footer h6.subfooter {
      line-height: 1.4; }

  .footer2 {
  border-width: 0px;
  margin: 0px;
  padding: 0rem;
  background: #ABA41F;
  color: #333333; }
  .footer2 h1, .footer2 h2, .footer2 h3, .footer2 h4, .footer2 h5, .footer2 h6 {
    line-height: 1.5;}



.tombol {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  border-style: none;
  border-width: 1px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: normal;
  margin: 0.5rem 0.07rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.35rem 1.2em;
  background-color: #B0A813;
  border-color: #9C9223;
  color: #FFFFFF;
  transition: background-color 300ms ease-out; }
  tombol:hover, tombol:focus, .tombol:hover, .tombol:focus {
    background-color: #CEBD0A; }
  tombol:hover, tombol:focus, .tombol:hover, .tombol:focus {
    color: #FFFFFF; }
  tombol.secondary, .tombol.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333; }
    tombol.secondary:hover, tombol.secondary:focus, .tombol.secondary:hover, .tombol.secondary:focus {
      background-color: #b9b9b9; }
    tombol.secondary:hover, tombol.secondary:focus, .tombol.secondary:hover, .tombol.secondary:focus {
      color: #333333; }
  tombol.success, .tombol.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF; }
    tombol.success:hover, tombol.success:focus, .tombol.success:hover, .tombol.success:focus {
      background-color: #368a55; }
    tombol.success:hover, tombol.success:focus, .tombol.success:hover, .tombol.success:focus {
      color: #FFFFFF; }

  
  tombol.white, .tombol.white {
  border-radius: 6px;
  border-style: none;
  border-width: 1px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: normal;
  margin: 0.5rem 0.07rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.35rem 0.4em;
  background-color: #FBF153;
  border-color: #9C9223;
  color: #B0A813}
    tombol.white:hover, tombol.white:focus, .tombol.white:hover, .tombol.white:focus{
      background-color: #FFF000; }

  tombol.large, .tombol.large {
    background-color: #05C207;
    border-color: #06CB24;
    display: center-block;
    border-style: solid;
    border-width: 3px;
    padding: 1rem 2.25rem 1rem 2.25rem;
    font-size: 1rem; }
    tombol.large:hover, tombol.large:focus, .tombol.large:hover, .tombol.large:focus {
      background-color: #28D52A;}
    tombol.large:hover, tombol.large:focus, .tombol.large:hover, .tombol.large:focus {
      color: #FFFFFF; }

  tombol.info, .tombol.info {
    background-color: #DDCB0B;
    border-color: #DDD320;
    color: #FFF;
    border-style: solid;
    border-width: 3px;
    font-weight: normal;
    border-radius: 1000px;
    font-size: 0.7rem; }
    tombol.info:hover, tombol.info:focus, .tombol.info:hover, .tombol.info:focus {
      background-color: #CEBD03;
      }
    tombol.info:hover, tombol.info:focus, .tombol.info:hover, .tombol.info:focus {
      color: #FFFFFF; }
  
  tombol.tiny, .tombol.tiny {
    margin-top: 0px; margin-bottom: 0px;
    font-size: 0.6rem;
    font-weight: normal;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-width: 2 px;
    background-color: #EAE5C8;
    border-color: #D2D19F;
    color: #333;
    }
    tombol.tiny:hover, tombol.tiny:focus, .tombol.tiny:hover, .tombol.tiny:focus {
      background-color: #FFFA06; }
    tombol.tiny:hover, tombol.tiny:focus, .tombol.tiny:hover, .tombol.info:focus {
       }