* {
    background-color: #ffffff;

}

*{
    font-family: 'Poiret One', cursive;
}

.p {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.description {
    text-align: center;
    max-width: 100%;
    display: block;
}

